<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>XYAB</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h1 class="mb-3">index</h1>
        <button type="button" class="btn btn-primary btn-lg btn-block" th:href="@{/join}">회원가입</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" th:href="@{/login}">로그인</button>
    </div>
</body>
</html>