<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div th:replace="layout/header::header"></div>

    <div class="container" style="text-align: center;">
        <br/>
        <h2>로그인</h2>
        <label for="userName">아이디</label>
        <input type="text" id="userName">
    </div>

    <div th:replace="layout/footer::footer"></div>

</body>
</html>